= form.association :slider, label_method: :human
= form.input :image, as: :file, direct_upload: true
= form.input :url
= form.input :body
= form.input :markup_language, collection: Ecm::Sliders::Configuration.markup_languages